ul.nav li{
    display: inline-block;
    padding-right: 10px;
    text-align: center;
}
h1 {
	font-weight: bold;
	font-size: 47px;
	text-align: center;
	}
p {
	color: blue;
	text-align: center;
}
a {
	color: white;
	background: grey;
	text-align: center;
	}