ul.nav li a {
    display: inline-block;
    padding-right: 10px;
    text-align: center;
	color: white;
 	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
 	font-size: 20px;
 	text-decoration: none;
	}

.nav {
 background: grey;
 text-align: center;
 height: 90px;
 line-height: 90px;
}

h1 {
	font-weight: bold;
	font-size: 47px;
	text-align: center;
	}
p {
	color: blue;
	text-align: center;
}
a {
	color: white;
	background: grey;
	text-align: center;
	}