body {
 margin: 0;
 margin-top: 0;
}

ul.nav li {
   display: inline-block;
   padding-right: 10px;
}

ul.nav li a {
 color: white;
 font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
 font-size: 20px;
 text-decoration: none;
}

.nav {
 background: grey;
 text-align: center;
 height: 90px;
 line-height: 90px;
}

#welcome {
 width: 100%;
}

h1 {
 color: #ffffff;
 font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
 font-size: 30px;
}

h2 {
 color: #ffffff;
 font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
 font-size: 30px;
}

p {
 color: #ffffff ;
 font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
 font-size: 22px;
}

#home {
margin-bottom: none;
background: #162252;
color: #ffffff;
font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
font-size: 20px;
height: 560px;
padding-top: 2cm;
padding-bottom: 2cm;
}

#about_us {
margin-bottom: none;
background: #3D59AB;
color: #ffffff;
font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
font-size: 20px;
height: 560px;
padding-top: 2cm;
padding-bottom: 2cm;
padding-left: 200px; padding-right: 200px;
}

#gallery {
margin-bottom: none;
background: #4981CE;
color: #ffffff;
font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
font-size: 20px;
height: 560px;
padding-top: 2cm;
padding-bottom: 2cm;
}

#line_up {
color: #404040;
font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
font-size: 20px;
}

#contact_us {
margin-bottom: none;
background: #7AA9DD;
color: #ffffff;
font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
font-size: 20px;
height: 560px;
padding-top: 2cm;
padding-bottom: 2cm;
}

.important {
color: #ffffff;
font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
font-size: 20px;
font-weight: bold;
}

img {
	vertical-align: top
}

#club {
	background: #404040;
	color: #ffffff;
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	font-size: 20px;
	height: 100px;
	padding-top: 2cm;
	padding-bottom: 2cm;
	padding-left: 200px; padding-right: 200px;
}

#brunch
{
	background: #404040;
	color: #ffffff;
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	font-size: 20px;
	height: 100px;
	padding-top: 2cm;
	padding-bottom: 2cm;
	padding-left: 200px; padding-right: 200px;
	}

#team {
	background: #404040;
	color: #ffffff;
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	font-size: 20px;
	height: 400px;
	padding-top: 2cm;
	padding-bottom: 2cm;
	padding-left: 200px; padding-right: 200px;
}
#description {
	background: #404040;
	color: #ffffff;
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	font-size: 20px;
	height: 100px;
	padding-top: 2cm;
	padding-bottom: 2cm;
	padding-left: 200px; padding-right: 200px;
}